In [1]:
import sys

In [2]:
print(sys.version)

3.11.9 | packaged by Anaconda, Inc. | (main, Apr 19 2024, 16:40:41) [MSC v.1916 64 bit (AMD64)]

# Python practice

## Data types

### Int, float and str

In [3]:
x = 9
x

9

In [4]:
type(x)

int

In [5]:
y = 9.5
type(y)

float

In [6]:
z = float(x)
type(z)

float

In [7]:
z

9.0

In [8]:
a = int(y)
a

9

In [9]:
str = "hello world"
str

'hello world'

In [10]:
len(str)

11

In [11]:
# slicing
str[1:]

'ello world'

In [12]:
str[::-1]

'dlrow olleh'

In [13]:
str[2:9:2]

'lowr'

In [14]:
str.upper()

'HELLO WORLD'

In [15]:
str.title()

'Hello World'

In [16]:
str.startswith("a")

False

In [17]:
str.endswith("d")

True

In [18]:
str.split()

['hello', 'world']

In [19]:
str2 = "hello-to-you"
str2.split("-")

['hello', 'to', 'you']

In [20]:
" ".join(["hello","world","cs"])

'hello world cs'

In [21]:
nums = "68492"
sorted(nums)

['2', '4', '6', '8', '9']

In [22]:
# format
n= 19
m= 11
print("hello {} the {}".format(n,m))

hello 19 the 11

In [55]:
'x' in 'ahmed'

False

### Lists

In [23]:
list1 = [1,2,"yara",["haha","try","skyfall"]]
list1

[1, 2, 'yara', ['haha', 'try', 'skyfall']]

In [24]:
list1[2]

'yara'

In [25]:
list1[3][2]

'skyfall'

In [26]:
list1[3][2][5]

'l'

In [27]:
list1.append("well")
list1

[1, 2, 'yara', ['haha', 'try', 'skyfall'], 'well']

In [28]:
list1 + ["ok","see"]

[1, 2, 'yara', ['haha', 'try', 'skyfall'], 'well', 'ok', 'see']

In [29]:
len(list1)

5

In [30]:
list1.insert(2,"ins")
list1

[1, 2, 'ins', 'yara', ['haha', 'try', 'skyfall'], 'well']

In [31]:
list1.remove("yara")
list1

[1, 2, 'ins', ['haha', 'try', 'skyfall'], 'well']

In [32]:
del list1[4:]
list1

[1, 2, 'ins', ['haha', 'try', 'skyfall']]

In [33]:
list1.reverse()
list1

[['haha', 'try', 'skyfall'], 'ins', 2, 1]

### Sets

In [34]:
set1 = {1,2,3,4}

In [35]:
# convert from list to set
list1 = [1,1,2,2,3,4,5,6,1,1]
x = set(list1)
x

{1, 2, 3, 4, 5, 6}

In [36]:
set1.add(7)

In [37]:
set1

{1, 2, 3, 4, 7}

In [38]:
set1.discard(2)
set1

{1, 3, 4, 7}

In [39]:
set1[1] # not indexed

TypeError: 'set' object is not subscriptable

### Tuples

In [40]:
tup = (1,2,3,4)
tup

(1, 2, 3, 4)

In [41]:
tup[1]

2

In [42]:
tup.index(4)

3

In [43]:
tup[0] = 'change' # immutable

TypeError: 'tuple' object does not support item assignment

# If-else statements

In [44]:
x = False
if x:
    print('x was True!')
else:
    print('finish')

finish

In [45]:
x = 10
y = 5
print("Choose an OP")
op = input()

if op == '+':
    print(f"the sum for {x} + {y} = {x + y}")
elif op == '-':
    print(f"the subtraction for {x} - {y} = {x - y}")
elif op == '*':
    print(f"the multpling for {x} * {y} = {x * y}")
elif op == '/':
    print(f"the division for {x} / {y} = {x / y}")
else:
    print('wrong operation')

Choose an OP

wrong operation

# For and while loops

In [46]:
list1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for n in list1:
    print(n)

10
20
30
40
50
60
70
80
90
100

In [47]:
list1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for n in range(1,len(list1)):
    print(list1[n])

20
30
40
50
60
70
80
90
100

In [48]:
for n in list1:
    if n == 50:
        break
    else:
        print(n)

10
20
30
40

In [49]:
for n in list1:
    if n == 50:
        continue
    else:
        print(n)

10
20
30
40
60
70
80
90
100

In [50]:
counter = 0
while counter <= 10:
    print(counter)
    counter = counter + 1
else:
    print("else")

0
1
2
3
4
5
6
7
8
9
10
else

In [51]:
counter = 0
while counter <= 10:
    print(counter)
    if counter == 6:
        print("breaking")
        break
    counter = counter + 1
else:
    print("else")

0
1
2
3
4
5
6
breaking

In [52]:
x = 0
while x < 10:
    x += 1
    print(x)
    if x == 7:
        print('breaking')
        break
    elif x == 3:
        print('continuing')
        continue
    print('nice')

1
nice
2
nice
3
continuing
4
nice
5
nice
6
nice
7
breaking

In [53]:
list(enumerate('abcde', 8))

[(8, 'a'), (9, 'b'), (10, 'c'), (11, 'd'), (12, 'e')]

In [54]:
for idx, letter in enumerate('abcde'):
    print(f'at index {idx} charchter is {letter}')

at index 0 charchter is a
at index 1 charchter is b
at index 2 charchter is c
at index 3 charchter is d
at index 4 charchter is e

# Functions

In [56]:
def sayMeow():
    print("meow")
sayMeow()

meow

In [58]:
def calc(x,y,op):
    if op == '+':
        print(f"the sum for {x} + {y} = {x + y}")
    elif op == '-':
        print(f"the subtraction for {x} - {y} = {x - y}")
    elif op == '*':
        print(f"the multpling for {x} * {y} = {x * y}")
    elif op == '/':
        print(f"the division for {x} / {y} = {x / y}")
    else:
        print('wrong operation')
calc(5,6,"+")

the sum for 5 + 6 = 11

In [59]:
calc(5,6,"-")

the subtraction for 5 - 6 = -1

In [60]:
# lambda exp
lambda num: num ** 2

In [61]:
my_nums = [1,2,3,4,5]
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]